{
  "openapi": "3.1.0",
  "info": {
    "title": "SMB Sales Boost API",
    "version": "1.0.0",
    "description": "REST API for SMB Sales Boost - a B2B lead generation platform that helps you find growing local businesses to reach out to: small and medium businesses across the United States showing growth signals such as new websites, new social profiles and fresh online activity (newly registered businesses are one subset). Search, filter, and export leads with comprehensive company data including contact information, location, and AI-enriched categories. API access requires a Starter, Growth, Scale, Platinum, or Enterprise subscription plan, including during the 14-day free trial. New users can purchase a subscription (or start a free trial) entirely via API with POST /purchase (no web signup required); the API key is emailed after checkout. A Model Context Protocol (MCP) server is also available at https://smbsalesboost.com/mcp for AI assistant integration - see https://smbsalesboost.com/docs/api/mcp-server for details. Every operation that uses an API key can also return 401 unauthorized (missing, invalid or revoked key), 403 forbidden (no active or trialing paid subscription), 429 (more than 600 requests per minute per key) and 503 service_unavailable (temporary; retry after the Retry-After delay).",
    "contact": {
      "name": "SMB Sales Boost Support",
      "email": "support@smbsalesboost.com",
      "url": "https://smbsalesboost.com/support"
    },
    "termsOfService": "https://smbsalesboost.com/terms-of-service",
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://smbsalesboost.com/api/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Programmatic Purchase",
      "description": "Start a subscription or free trial entirely via API (no web signup required). The API key is emailed after checkout."
    },
    {
      "name": "User Profile",
      "description": "View and update your account profile"
    },
    {
      "name": "Leads",
      "description": "Search, filter, and export leads from the database"
    },
    {
      "name": "Filter Presets",
      "description": "Save and manage reusable filter configurations"
    },
    {
      "name": "Keyword Lists",
      "description": "Manage keyword lists for targeted lead searching"
    },
    {
      "name": "Email Schedules",
      "description": "Automated email delivery of leads matching your filters"
    },
    {
      "name": "Export Formats",
      "description": "Customize export column layouts and file settings"
    },
    {
      "name": "Export History",
      "description": "View and re-download past exports"
    },
    {
      "name": "Lead Export History",
      "description": "Lead-level export tracking: view, re-export, refresh snapshots, and bulk-select all exports"
    },
    {
      "name": "Account Settings",
      "description": "Lead database settings and account configuration"
    },
    {
      "name": "AI Features",
      "description": "AI-powered category suggestions and keyword generation"
    },
    {
      "name": "Credits & Subscription",
      "description": "Purchase additional credits and manage your subscription"
    },
    {
      "name": "Export Blacklist",
      "description": "Manage leads excluded from future exports"
    },
    {
      "name": "Integrations",
      "description": "Connect SMB Sales Boost to HubSpot, Salesforce, Pipedrive, Zapier, n8n, Make, Pipedream, Clay, or any custom webhook"
    },
    {
      "name": "Enrichments",
      "description": "Enrich a list of website URLs. Each URL is checked against the SMB Sales Boost database first; anything not already there is fetched live. We never add the URLs you submit, or the results we find for them, to our lead database, which we keep curated so it stays clean and focused on high-quality leads.\n\n**Pricing.** 1 credit for a URL in the database you have not bought before (this includes its buying signals and category enrichments). 0.1 credit for a URL fetched live. 0 credits for a URL you have already exported, one we got no data for, and one without the contact details you asked for.\n\n**A URL found in the database is never fetched live**, so lowering `databaseMatchPercent` does not let you buy database records at the live price.\n\n**Runs are asynchronous.** Submitting returns a run id immediately; a large list can take hours. Poll `GET /enrichments/{id}` until `status` is `completed` or `partial`, then call `/download`.\n\n**Credits are charged in two stages.** Database matches are charged as soon as they are matched; live results are charged when the file is published. `credits.final` tells you whether the total is settled."
    }
  ],
  "paths": {
    "/integrations/providers": {
      "servers": [
        {
          "url": "https://smbsalesboost.com/api",
          "description": "Integrations endpoints are mounted directly under /api (not /api/v1)"
        }
      ],
      "get": {
        "tags": [
          "Integrations"
        ],
        "security": [
          {
            "SessionCookie": []
          }
        ],
        "operationId": "listIntegrationProviders",
        "summary": "List available integration providers",
        "description": "Returns the integration provider catalog and runtime availability. Providers whose owner-side env vars are missing return available=false and are greyed out as Coming Soon.",
        "responses": {
          "200": {
            "description": "Provider catalog",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "providers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "hubspot"
                          },
                          "name": {
                            "type": "string"
                          },
                          "tagline": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "authMethod": {
                            "type": "string",
                            "enum": [
                              "oauth2",
                              "webhook",
                              "api_key_webhook"
                            ]
                          },
                          "ownerSetupRequired": {
                            "type": "boolean"
                          },
                          "available": {
                            "type": "boolean"
                          },
                          "reason": {
                            "type": "string",
                            "nullable": true
                          },
                          "defaultEvents": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "brandColor": {
                            "type": "string"
                          },
                          "helpText": {
                            "type": "string"
                          },
                          "setupHelpUrl": {
                            "type": "string",
                            "nullable": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/integrations": {
      "servers": [
        {
          "url": "https://smbsalesboost.com/api"
        }
      ],
      "get": {
        "tags": [
          "Integrations"
        ],
        "security": [
          {
            "SessionCookie": []
          }
        ],
        "operationId": "listIntegrations",
        "summary": "List the caller's integrations",
        "responses": {
          "200": {
            "description": "Integrations list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "integrations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Integration"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/integrations/webhook": {
      "servers": [
        {
          "url": "https://smbsalesboost.com/api"
        }
      ],
      "post": {
        "tags": [
          "Integrations"
        ],
        "security": [
          {
            "SessionCookie": []
          }
        ],
        "operationId": "createWebhookIntegration",
        "summary": "Create a webhook integration",
        "description": "Creates a new webhook destination and returns a one-time signing secret. The secret is shown only once and is used to verify the X-SMB-Signature header on every event. Available for the webhook providers: zapier, n8n, make, pipedream, clay, generic_webhook.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "provider",
                  "targetUrl",
                  "events"
                ],
                "properties": {
                  "provider": {
                    "type": "string",
                    "enum": [
                      "zapier",
                      "n8n",
                      "make",
                      "pipedream",
                      "clay",
                      "generic_webhook"
                    ]
                  },
                  "displayName": {
                    "type": "string"
                  },
                  "targetUrl": {
                    "type": "string",
                    "format": "uri"
                  },
                  "apiKey": {
                    "type": "string",
                    "description": "Optional shared-secret header value"
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "lead.created",
                        "lead.updated",
                        "export.completed",
                        "email_schedule.sent",
                        "credit.low_balance"
                      ]
                    },
                    "minItems": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "integration": {
                      "$ref": "#/components/schemas/Integration"
                    },
                    "signingSecret": {
                      "type": "string",
                      "description": "One-time webhook signing secret. Save it."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/integrations/{id}": {
      "servers": [
        {
          "url": "https://smbsalesboost.com/api"
        }
      ],
      "get": {
        "tags": [
          "Integrations"
        ],
        "security": [
          {
            "SessionCookie": []
          }
        ],
        "operationId": "getIntegration",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Integration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "integration": {
                      "$ref": "#/components/schemas/Integration"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "Integrations"
        ],
        "security": [
          {
            "SessionCookie": []
          }
        ],
        "operationId": "updateIntegration",
        "summary": "Update display name, status, or subscriptions",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "displayName": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "connected",
                      "disabled",
                      "needs_attention"
                    ]
                  },
                  "subscriptions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "eventType": {
                          "type": "string"
                        },
                        "targetUrl": {
                          "type": "string",
                          "nullable": true
                        },
                        "isActive": {
                          "type": "boolean"
                        },
                        "config": {
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "integration": {
                      "$ref": "#/components/schemas/Integration"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Integrations"
        ],
        "security": [
          {
            "SessionCookie": []
          }
        ],
        "operationId": "deleteIntegration",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeleteSuccess"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/integrations/{id}/deliveries": {
      "servers": [
        {
          "url": "https://smbsalesboost.com/api"
        }
      ],
      "get": {
        "tags": [
          "Integrations"
        ],
        "security": [
          {
            "SessionCookie": []
          }
        ],
        "operationId": "listIntegrationDeliveries",
        "summary": "Last 50 delivery attempts",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deliveries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deliveries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "eventType": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "success",
                              "failed",
                              "pending"
                            ]
                          },
                          "statusCode": {
                            "type": "integer",
                            "nullable": true
                          },
                          "attemptCount": {
                            "type": "integer"
                          },
                          "latencyMs": {
                            "type": "integer",
                            "nullable": true
                          },
                          "errorMessage": {
                            "type": "string",
                            "nullable": true
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "completedAt": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integrations/{id}/deliveries/{deliveryId}/retry": {
      "servers": [
        {
          "url": "https://smbsalesboost.com/api"
        }
      ],
      "post": {
        "tags": [
          "Integrations"
        ],
        "security": [
          {
            "SessionCookie": []
          }
        ],
        "operationId": "retryIntegrationDelivery",
        "summary": "Retry a single previous delivery using its stored payload",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "deliveryId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retry result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "failed"
                      ]
                    },
                    "statusCode": {
                      "type": "integer",
                      "nullable": true
                    },
                    "latencyMs": {
                      "type": "integer",
                      "nullable": true
                    },
                    "error": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/integrations/{id}/test": {
      "servers": [
        {
          "url": "https://smbsalesboost.com/api"
        }
      ],
      "post": {
        "tags": [
          "Integrations"
        ],
        "security": [
          {
            "SessionCookie": []
          }
        ],
        "operationId": "testIntegration",
        "summary": "Fire a synthetic test event",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Test result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "failed"
                      ]
                    },
                    "statusCode": {
                      "type": "integer",
                      "nullable": true
                    },
                    "latencyMs": {
                      "type": "integer",
                      "nullable": true
                    },
                    "error": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/integrations/{id}/push-lead": {
      "servers": [
        {
          "url": "https://smbsalesboost.com/api"
        }
      ],
      "post": {
        "tags": [
          "Integrations"
        ],
        "security": [
          {
            "SessionCookie": []
          }
        ],
        "operationId": "pushLeadToIntegration",
        "summary": "Push a single lead on demand",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "lead"
                ],
                "properties": {
                  "lead": {
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Push result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integrations/hubspot/start": {
      "servers": [
        {
          "url": "https://smbsalesboost.com/api"
        }
      ],
      "get": {
        "tags": [
          "Integrations"
        ],
        "security": [
          {
            "SessionCookie": []
          }
        ],
        "operationId": "startHubspotOAuth",
        "summary": "Begin HubSpot OAuth flow",
        "responses": {
          "200": {
            "description": "Authorize URL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "state": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "HubSpot is not configured for this deployment"
          }
        }
      }
    },
    "/integrations/hubspot/callback": {
      "servers": [
        {
          "url": "https://smbsalesboost.com/api"
        }
      ],
      "get": {
        "tags": [
          "Integrations"
        ],
        "security": [],
        "operationId": "hubspotOAuthCallback",
        "summary": "HubSpot OAuth callback",
        "parameters": [
          {
            "in": "query",
            "name": "code",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "state",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirects back to the dashboard Integrations tab"
          }
        }
      }
    },
    "/integrations/salesforce/start": {
      "servers": [
        {
          "url": "https://smbsalesboost.com/api"
        }
      ],
      "get": {
        "tags": [
          "Integrations"
        ],
        "security": [
          {
            "SessionCookie": []
          }
        ],
        "operationId": "startSalesforceOAuth",
        "parameters": [
          {
            "in": "query",
            "name": "env",
            "schema": {
              "type": "string",
              "enum": [
                "production",
                "sandbox"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Authorize URL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "state": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Salesforce is not configured for this deployment"
          }
        }
      }
    },
    "/integrations/salesforce/callback": {
      "servers": [
        {
          "url": "https://smbsalesboost.com/api"
        }
      ],
      "get": {
        "tags": [
          "Integrations"
        ],
        "security": [],
        "operationId": "salesforceOAuthCallback",
        "parameters": [
          {
            "in": "query",
            "name": "code",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "state",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirects back to the dashboard Integrations tab"
          }
        }
      }
    },
    "/integrations/pipedrive/start": {
      "servers": [
        {
          "url": "https://smbsalesboost.com/api"
        }
      ],
      "get": {
        "tags": [
          "Integrations"
        ],
        "security": [
          {
            "SessionCookie": []
          }
        ],
        "operationId": "startPipedriveOAuth",
        "summary": "Begin Pipedrive OAuth flow",
        "responses": {
          "200": {
            "description": "Authorize URL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "state": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Pipedrive is not configured for this deployment"
          }
        }
      }
    },
    "/integrations/pipedrive/callback": {
      "servers": [
        {
          "url": "https://smbsalesboost.com/api"
        }
      ],
      "get": {
        "tags": [
          "Integrations"
        ],
        "security": [],
        "operationId": "pipedriveOAuthCallback",
        "summary": "Pipedrive OAuth callback",
        "parameters": [
          {
            "in": "query",
            "name": "code",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "state",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirects back to the dashboard Integrations tab"
          }
        }
      }
    },
    "/purchase": {
      "post": {
        "tags": [
          "Programmatic Purchase"
        ],
        "operationId": "createPurchase",
        "summary": "Start a subscription purchase or free trial",
        "description": "Create a Stripe Checkout session for a subscription entirely via API. No web signup, onboarding or API key is needed. The 201 response carries checkoutUrl (open it in a browser to pay or to start the trial), expiresAt, plan, a trial object and a message. It does not return a claim token or the API key: the API key is emailed to the address you supplied once checkout is complete. If that address already has an SMB Sales Boost account, the purchase is first confirmed from an email sent to that address, and the key follows once it is confirmed.\n\nFree trial: Starter, Growth and Scale start with a 14-day free trial by default. trial defaults to true; only the JSON boolean false skips the trial and charges the plan price at checkout. Platinum and Enterprise never trial. During a trial a payment method is required, nothing is charged at checkout, the trial includes 50% of the plan's monthly credits, and the plan price is charged automatically when the trial ends unless the subscription is cancelled first. One trial per person: this endpoint checks the email address (see trial.eligible and trial.reason in the response), and the payment method is checked after checkout, where a checkout whose card already had a trial is cancelled without a charge. All charges are final; there are no refunds.\n\nRate limited to 5 requests per hour per IP.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "plan"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Customer email address",
                    "example": "user@example.com"
                  },
                  "plan": {
                    "type": "string",
                    "enum": [
                      "starter",
                      "growth",
                      "scale",
                      "platinum",
                      "enterprise"
                    ],
                    "description": "Subscription plan to purchase",
                    "example": "growth"
                  },
                  "trial": {
                    "type": "boolean",
                    "default": true,
                    "description": "Start with the 14-day free trial when eligible (Starter, Growth and Scale only). Defaults to true; only the JSON boolean false opts out and buys the plan outright. Ignored for Platinum and Enterprise, which never trial.",
                    "example": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Checkout session created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "checkoutUrl": {
                          "type": "string",
                          "format": "uri",
                          "description": "Stripe Checkout URL - redirect or open this to complete payment"
                        },
                        "expiresAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "When this checkout session expires (24 hours from creation)"
                        },
                        "plan": {
                          "type": "string",
                          "description": "The plan being purchased"
                        },
                        "trial": {
                          "type": "object",
                          "description": "Whether this checkout starts a free trial, and what it costs.",
                          "properties": {
                            "eligible": {
                              "type": "boolean",
                              "description": "True when this checkout starts a 14-day free trial"
                            },
                            "days": {
                              "type": "integer",
                              "description": "Trial length in days (14), or 0 when there is no trial",
                              "example": 14
                            },
                            "credits": {
                              "type": "integer",
                              "description": "Credits included in the trial (50% of the plan's monthly credits), or 0 when there is no trial"
                            },
                            "endsAt": {
                              "type": "string",
                              "format": "date-time",
                              "nullable": true,
                              "description": "Estimated trial end, when the plan price is charged unless the subscription is cancelled first; null when there is no trial"
                            },
                            "reason": {
                              "type": "string",
                              "enum": [
                                "not_requested",
                                "plan_not_eligible",
                                "trial_already_used",
                                "currently_subscribed"
                              ],
                              "description": "Present only when eligible is false. not_requested: you sent trial: false. plan_not_eligible: Platinum and Enterprise never trial. trial_already_used: this email address already had a free trial. currently_subscribed: this email address has an active or trialing subscription."
                            },
                            "note": {
                              "type": "string",
                              "description": "What is charged and when, for example: 'A payment method is required but nothing is charged today. The plan price is charged automatically when the 14-day trial ends unless the subscription is cancelled first. All charges are final.'"
                            }
                          }
                        },
                        "message": {
                          "type": "string",
                          "description": "Next steps. Says that the API key will be emailed to the address you provided, and that an address that already has an account is first sent an email to confirm the purchase. The same wording is returned for every address."
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "checkoutUrl": "https://checkout.stripe.com/c/pay/cs_live_...",
                    "expiresAt": "2026-10-08T12:00:00.000Z",
                    "plan": "growth",
                    "trial": {
                      "eligible": true,
                      "days": 14,
                      "credits": 1000,
                      "endsAt": "2026-10-21T12:00:00.000Z",
                      "note": "A payment method is required but nothing is charged today. The plan price is charged automatically when the 14-day trial ends unless the subscription is cancelled first. All charges are final."
                    },
                    "message": "Complete checkout at the URL to start the 14-day free trial. Your API key will be emailed to the address you provided once the trial starts. If that address already has an SMB Sales Boost account, we first email it a link to confirm the purchase, and the key is sent once it is confirmed."
                  }
                }
              }
            }
          },
          "400": {
            "description": "invalid_email (a valid email address is required) or invalid_plan (plan must be one of starter, growth, scale, platinum, enterprise)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "invalid_plan",
                  "message": "Plan must be one of: platinum, enterprise, starter, growth, scale"
                }
              }
            }
          },
          "403": {
            "description": "forbidden (this email address is not eligible for purchase) or disposable_email (use a permanent email address)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "disposable_email",
                  "message": "Disposable email addresses are not allowed. Please use a permanent email address."
                }
              }
            }
          },
          "409": {
            "description": "already_subscribed: this email address already has an active subscription or is on a free trial. To start the paid plan during a trial, or to switch trial plans, use POST /subscription/change-plan with that account's API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "already_subscribed",
                  "message": "An active subscription already exists for this email. Use the dashboard to manage your API keys."
                }
              }
            }
          },
          "410": {
            "description": "plan_retired: the legacy 'pro' plan is no longer sold; choose starter, growth, scale, platinum or enterprise",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "plan_retired",
                  "message": "The \"pro\" plan is no longer available for new purchases. Please choose one of: platinum, enterprise, starter, growth, scale."
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "description": "internal_error: the checkout session could not be created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "service_unavailable: payment processing is not configured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/claim-key": {
      "post": {
        "tags": [
          "Programmatic Purchase"
        ],
        "operationId": "claimApiKey",
        "summary": "Claim an API key with a claim token (legacy)",
        "description": "Kept for backward compatibility only. This endpoint exchanges a claim token for the API key, but current purchases no longer issue a claim token (POST /purchase does not return one), so new buyers should wait for the API key that is emailed after checkout instead. With a token from an older purchase: 200 returns the key once, 202 means payment is still pending. Rate limited to 30 requests per hour per IP.",
        "deprecated": true,
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "claimToken"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email used during purchase",
                    "example": "user@example.com"
                  },
                  "claimToken": {
                    "type": "string",
                    "description": "A claim token from an older purchase flow. Current purchases do not issue one: the API key is emailed to the purchase address instead.",
                    "example": "claim_abc123..."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key claimed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "apiKey": {
                          "type": "string",
                          "description": "Your API key (smbk_ prefix). Store securely - shown only once."
                        },
                        "plan": {
                          "type": "string",
                          "description": "Subscription plan"
                        },
                        "email": {
                          "type": "string",
                          "description": "Account email"
                        },
                        "message": {
                          "type": "string",
                          "description": "Account setup recommendations"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "Payment not yet completed - poll again in 5-10 seconds",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "pending"
                          ]
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "invalid_email or invalid_token (the claim token is missing)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "email_mismatch: the email does not match the purchase record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "not_found: invalid claim token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "already_claimed: the key was already claimed; generate a new key from the dashboard if it was lost",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "description": "expired: the purchase session has expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/me": {
      "get": {
        "tags": [
          "User Profile"
        ],
        "operationId": "getUserProfile",
        "summary": "Get your profile",
        "description": "Retrieve your user profile including subscription details, account settings, and onboarding status.",
        "responses": {
          "200": {
            "description": "User profile retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/UserProfile"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "patch": {
        "tags": [
          "User Profile"
        ],
        "operationId": "updateUserProfile",
        "summary": "Update your profile",
        "description": "Update your profile fields. Only provided fields are updated. Allowed fields: firstName (max 50 characters), lastName (max 50), companyName (max 100), companyWebsite (max 500; must be an http:// or https:// URL, a bare domain is accepted and stored with https://). Send null or an empty string to clear a field.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string",
                    "nullable": true,
                    "maxLength": 50,
                    "example": "John"
                  },
                  "lastName": {
                    "type": "string",
                    "nullable": true,
                    "maxLength": 50,
                    "example": "Doe"
                  },
                  "companyName": {
                    "type": "string",
                    "nullable": true,
                    "maxLength": 100,
                    "example": "Acme Corp"
                  },
                  "companyWebsite": {
                    "type": "string",
                    "nullable": true,
                    "maxLength": 500,
                    "description": "http:// or https:// URL; a bare domain such as acme.com is stored as https://acme.com/",
                    "example": "https://acme.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/UserProfileBasic"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/leads": {
      "get": {
        "tags": [
          "Leads"
        ],
        "operationId": "searchLeads",
        "summary": "Search and filter leads",
        "description": "Search the lead database with keyword filters, location filters, and other criteria.\n\nPositive filter required: send at least one of positiveKeywords, nameIncludeTerms, urlIncludeTerms, crawledUrlIncludeTerms or descriptionIncludeTerms. Without one the call returns 200 with an empty leads array, requiresKeywords: true and a message, and charges nothing. Uses a two-phase filtering model: Phase 1 (Include) combines all positive keywords with OR logic, Phase 2 (Exclude) removes matches via AND logic.\n\nCredit System (credit plans: Starter, Growth, Scale, Platinum, Enterprise): each new lead returned costs 1 credit. Charging is sticky: a lead you have already received through any channel (dashboard, API, MCP or email schedule) is never charged again, even if its data changed later, and a new lead that shares a primary phone or primary email with a lead you already received is also free. Within the page selected by page and limit, new leads are always ordered first, and they are cut to the smaller of maxCredits and your spendable balance (credit balance plus any overage-budget headroom); when the balance was the limit the response carries X-Credits-Capped: true. Omitting maxCredits therefore caps the request at your spendable balance instead of failing. 402 insufficient_credits only happens if a concurrent request spends the balance between the check and the charge. creditsUsed and creditsRemaining in the response report what was charged. Your export blacklist is not applied to this endpoint (GET /leads/preview and POST /leads/export apply it).\n\nLead Database: queries run against the Main database ('other'), which contains businesses of all types (e.g., accounting firms, marketing agencies, medical practices) with both phone numbers and email addresses as available contact methods. The database parameter is kept for backward compatibility; any value resolves to the Main database.\n\nWildcard Pattern Matching: All keyword and term parameters support `*` as a wildcard character that matches any sequence of characters. For example, `*account*` matches 'accounting', 'accountant', 'accounting firm', etc. Multiple wildcards in a single term let you match compound phrases: `*book*keep*` matches 'bookkeeping', 'bookkeeper services', etc. Other examples: `*market*agency*`, `*tax*prep*`. Keywords without wildcards perform substring matching by default (equivalent to wrapping in `*...*`).",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/database"
          },
          {
            "$ref": "#/components/parameters/positiveKeywords"
          },
          {
            "$ref": "#/components/parameters/negativeKeywords"
          },
          {
            "$ref": "#/components/parameters/orColumns"
          },
          {
            "$ref": "#/components/parameters/stateInclude"
          },
          {
            "$ref": "#/components/parameters/stateExclude"
          },
          {
            "$ref": "#/components/parameters/cityInclude"
          },
          {
            "$ref": "#/components/parameters/cityExclude"
          },
          {
            "$ref": "#/components/parameters/zipInclude"
          },
          {
            "$ref": "#/components/parameters/zipExclude"
          },
          {
            "$ref": "#/components/parameters/nameIncludeTerms"
          },
          {
            "$ref": "#/components/parameters/nameExcludeTerms"
          },
          {
            "$ref": "#/components/parameters/sortBy"
          },
          {
            "$ref": "#/components/parameters/sortOrder"
          },
          {
            "$ref": "#/components/parameters/minReviewCount"
          },
          {
            "$ref": "#/components/parameters/maxReviewCount"
          },
          {
            "$ref": "#/components/parameters/descriptionEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/urlIncludeTerms"
          },
          {
            "$ref": "#/components/parameters/urlExcludeTerms"
          },
          {
            "$ref": "#/components/parameters/crawledUrlIncludeTerms"
          },
          {
            "$ref": "#/components/parameters/crawledUrlExcludeTerms"
          },
          {
            "$ref": "#/components/parameters/descriptionIncludeTerms"
          },
          {
            "$ref": "#/components/parameters/descriptionExcludeTerms"
          },
          {
            "$ref": "#/components/parameters/emailPrimaryInclude"
          },
          {
            "$ref": "#/components/parameters/emailPrimaryExclude"
          },
          {
            "$ref": "#/components/parameters/phonePrimaryInclude"
          },
          {
            "$ref": "#/components/parameters/phonePrimaryExclude"
          },
          {
            "$ref": "#/components/parameters/emailTier1Include"
          },
          {
            "$ref": "#/components/parameters/emailTier1Exclude"
          },
          {
            "$ref": "#/components/parameters/emailTier2Include"
          },
          {
            "$ref": "#/components/parameters/emailTier2Exclude"
          },
          {
            "$ref": "#/components/parameters/emailTier3Include"
          },
          {
            "$ref": "#/components/parameters/emailTier3Exclude"
          },
          {
            "$ref": "#/components/parameters/emailTier4Include"
          },
          {
            "$ref": "#/components/parameters/emailTier4Exclude"
          },
          {
            "$ref": "#/components/parameters/emailTier5Include"
          },
          {
            "$ref": "#/components/parameters/emailTier5Exclude"
          },
          {
            "$ref": "#/components/parameters/emailTier6Include"
          },
          {
            "$ref": "#/components/parameters/emailTier6Exclude"
          },
          {
            "$ref": "#/components/parameters/phoneTotalInclude"
          },
          {
            "$ref": "#/components/parameters/phoneTotalExclude"
          },
          {
            "$ref": "#/components/parameters/employeeCountEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/employeeCountInclude"
          },
          {
            "$ref": "#/components/parameters/employeeCountExclude"
          },
          {
            "$ref": "#/components/parameters/foundingDateEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/foundingDateInclude"
          },
          {
            "$ref": "#/components/parameters/foundingDateExclude"
          },
          {
            "$ref": "#/components/parameters/isChainEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/isChainInclude"
          },
          {
            "$ref": "#/components/parameters/isChainExclude"
          },
          {
            "$ref": "#/components/parameters/priceRangeEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/priceRangeInclude"
          },
          {
            "$ref": "#/components/parameters/priceRangeExclude"
          },
          {
            "$ref": "#/components/parameters/legalNameEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/legalNameInclude"
          },
          {
            "$ref": "#/components/parameters/legalNameExclude"
          },
          {
            "$ref": "#/components/parameters/industryNaicsEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/industryNaicsInclude"
          },
          {
            "$ref": "#/components/parameters/industryNaicsExclude"
          },
          {
            "$ref": "#/components/parameters/dunsEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/dunsInclude"
          },
          {
            "$ref": "#/components/parameters/dunsExclude"
          },
          {
            "$ref": "#/components/parameters/founderEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/founderInclude"
          },
          {
            "$ref": "#/components/parameters/founderExclude"
          },
          {
            "$ref": "#/components/parameters/founderEmailEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/founderEmailInclude"
          },
          {
            "$ref": "#/components/parameters/founderEmailExclude"
          },
          {
            "$ref": "#/components/parameters/founderPhoneEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/founderPhoneInclude"
          },
          {
            "$ref": "#/components/parameters/founderPhoneExclude"
          },
          {
            "$ref": "#/components/parameters/openingHoursEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/openingHoursInclude"
          },
          {
            "$ref": "#/components/parameters/openingHoursExclude"
          },
          {
            "$ref": "#/components/parameters/areaServedEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/areaServedInclude"
          },
          {
            "$ref": "#/components/parameters/areaServedExclude"
          },
          {
            "$ref": "#/components/parameters/offersEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/offersInclude"
          },
          {
            "$ref": "#/components/parameters/offersExclude"
          },
          {
            "$ref": "#/components/parameters/brandEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/brandInclude"
          },
          {
            "$ref": "#/components/parameters/brandExclude"
          },
          {
            "$ref": "#/components/parameters/sloganEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/sloganInclude"
          },
          {
            "$ref": "#/components/parameters/sloganExclude"
          },
          {
            "$ref": "#/components/parameters/logoUrlEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/logoUrlInclude"
          },
          {
            "$ref": "#/components/parameters/logoUrlExclude"
          },
          {
            "$ref": "#/components/parameters/socialProfilesEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/socialProfilesInclude"
          },
          {
            "$ref": "#/components/parameters/socialProfilesExclude"
          },
          {
            "$ref": "#/components/parameters/platformEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/platformInclude"
          },
          {
            "$ref": "#/components/parameters/platformExclude"
          },
          {
            "$ref": "#/components/parameters/bookingOpsCrmSoftwareEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/bookingOpsCrmSoftwareInclude"
          },
          {
            "$ref": "#/components/parameters/bookingOpsCrmSoftwareExclude"
          },
          {
            "$ref": "#/components/parameters/reputationChatSoftwareEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/reputationChatSoftwareInclude"
          },
          {
            "$ref": "#/components/parameters/reputationChatSoftwareExclude"
          },
          {
            "$ref": "#/components/parameters/marketingEmailSoftwareEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/marketingEmailSoftwareInclude"
          },
          {
            "$ref": "#/components/parameters/marketingEmailSoftwareExclude"
          },
          {
            "$ref": "#/components/parameters/adPixelsEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/adPixelsInclude"
          },
          {
            "$ref": "#/components/parameters/adPixelsExclude"
          },
          {
            "$ref": "#/components/parameters/paymentFinancingSoftwareEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/paymentFinancingSoftwareInclude"
          },
          {
            "$ref": "#/components/parameters/paymentFinancingSoftwareExclude"
          },
          {
            "$ref": "#/components/parameters/emailPrimaryMxValues"
          },
          {
            "$ref": "#/components/parameters/emailPrimaryMxEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/emailDomainMxValues"
          },
          {
            "$ref": "#/components/parameters/emailDomainMxEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/emailSecurityValues"
          },
          {
            "$ref": "#/components/parameters/emailSecurityEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/addressSourceValues"
          },
          {
            "$ref": "#/components/parameters/addressSourceEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/minNumLocations"
          },
          {
            "$ref": "#/components/parameters/maxNumLocations"
          },
          {
            "$ref": "#/components/parameters/minOpenPositions"
          },
          {
            "$ref": "#/components/parameters/maxOpenPositions"
          },
          {
            "$ref": "#/components/parameters/openPositionsEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/minRatingValue"
          },
          {
            "$ref": "#/components/parameters/maxRatingValue"
          },
          {
            "$ref": "#/components/parameters/redirectFilter"
          },
          {
            "$ref": "#/components/parameters/buyingSignalTypeFilter"
          },
          {
            "$ref": "#/components/parameters/updateReasonFilter"
          },
          {
            "$ref": "#/components/parameters/websiteSchemaFilter"
          },
          {
            "$ref": "#/components/parameters/lastBuyingSignalFrom"
          },
          {
            "$ref": "#/components/parameters/lastUpdatedFrom"
          },
          {
            "$ref": "#/components/parameters/lastBuyingSignalTo"
          },
          {
            "$ref": "#/components/parameters/lastUpdatedTo"
          },
          {
            "$ref": "#/components/parameters/timeScrapedFrom"
          },
          {
            "$ref": "#/components/parameters/timeScrapedTo"
          },
          {
            "$ref": "#/components/parameters/registrationDateFrom"
          },
          {
            "$ref": "#/components/parameters/registrationDateTo"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/streetInclude"
          },
          {
            "$ref": "#/components/parameters/streetExclude"
          },
          {
            "$ref": "#/components/parameters/streetEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/cityEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/stateEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/zipEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/phonePrimaryEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/phoneTotalEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/emailPrimaryEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/emailTier1EmptyFilter"
          },
          {
            "$ref": "#/components/parameters/emailTier2EmptyFilter"
          },
          {
            "$ref": "#/components/parameters/emailTier3EmptyFilter"
          },
          {
            "$ref": "#/components/parameters/emailTier4EmptyFilter"
          },
          {
            "$ref": "#/components/parameters/emailTier5EmptyFilter"
          },
          {
            "$ref": "#/components/parameters/emailTier6EmptyFilter"
          },
          {
            "name": "maxResults",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Most leads to return in this call, new leads plus leads you already received. New leads come first. It works inside the page selected by page and limit, so a value above limit has no effect."
          },
          {
            "name": "maxCredits",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "description": "Most credits to spend on this call. Only new leads count. The call is also capped at your spendable balance (credit balance plus any overage-budget headroom), so the effective cap is the smaller of the two; when the balance was the limit the response carries X-Credits-Capped: true. Leads you already received are included free up to maxResults or the page limit. Set 0 to receive only leads you already received, at no cost. If omitted, the call is capped at your spendable balance."
          }
        ],
        "responses": {
          "200": {
            "description": "Leads matching the search criteria",
            "headers": {
              "X-Credits-Capped": {
                "$ref": "#/components/headers/XCreditsCapped"
              },
              "X-Lead-Query-Path": {
                "$ref": "#/components/headers/XLeadQueryPath"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "leads": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Lead"
                          }
                        },
                        "pagination": {
                          "type": "object",
                          "properties": {
                            "page": {
                              "type": "integer",
                              "description": "Current page number"
                            },
                            "limit": {
                              "type": "integer",
                              "description": "Results per page"
                            },
                            "total": {
                              "type": "integer",
                              "description": "Total matching leads before pagination"
                            },
                            "pages": {
                              "type": "integer",
                              "description": "Total number of pages"
                            }
                          }
                        },
                        "databaseType": {
                          "type": "string",
                          "enum": [
                            "other"
                          ],
                          "description": "The lead database that served this request: always 'other' (the Main database)."
                        },
                        "creditsUsed": {
                          "type": "integer",
                          "description": "Credits charged for this call: the number of new leads delivered (only present for credit-plan users)"
                        },
                        "creditsRemaining": {
                          "type": "integer",
                          "description": "Total credits remaining after this query (only present for credit-plan users)"
                        },
                        "maxResults": {
                          "type": "integer",
                          "description": "Echo of maxResults parameter (only present when maxResults was specified)"
                        },
                        "maxCredits": {
                          "type": "integer",
                          "description": "Echo of maxCredits parameter (only present when maxCredits was specified)"
                        },
                        "requiresKeywords": {
                          "type": "boolean",
                          "description": "Present and true when no positive filter was sent; leads is then empty and nothing was charged"
                        },
                        "message": {
                          "type": "string",
                          "description": "Present with requiresKeywords: explains which filters count as positive"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "description": "insufficient_credits (credit plans only). Requests are capped at your spendable balance, so this only happens when a concurrent request from your account spent the balance between the check and the charge. Nothing was charged; retry, or buy credits with POST /purchase-credits.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsufficientCreditsError"
                },
                "example": {
                  "error": "insufficient_credits",
                  "message": "This query requires 120 credits but you only have 80 available. Use maxCredits or maxResults to limit credit usage, reduce your page size with the 'limit' parameter, or purchase more credits via POST /api/v1/purchase-credits.",
                  "creditsRemaining": 80
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedOrLeadQueryBusy"
          },
          "500": {
            "description": "internal_error. The request may have been partly processed (credits charged and leads recorded as received), so check creditsRemaining with GET /me before retrying. A retry is not charged again for leads already recorded as received, but it can charge for other new leads, so check first.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/leads/preview": {
      "get": {
        "tags": [
          "Leads"
        ],
        "operationId": "previewLeads",
        "summary": "Preview leads with masked contact info (no credits)",
        "description": "Preview leads matching your filters with masked contact details, at no credit cost. Accepts the same filters as GET /leads (including the contact term filters such as emailPrimaryInclude and phonePrimaryInclude, and the company-column include, exclude and empty filters) plus excludePurchased; maxCredits and maxResults do not apply. Use it to test filters and size a query before spending credits on GET /leads or POST /leads/export.\n\nMasking: contact values are masked, not hashed. A phone keeps its area code and last two digits, for example '(512) ***-**42', and an email keeps its first three characters and the full domain, for example 'hel*@domain.com'. Total Phones, the email tier lists and founder emails and phones are masked value by value.\n\nLeads you already received come back unmasked with contactExported: true, the same as on the dashboard. A lead counts as received when its id was delivered to you, or when its primary phone, Total Phones, primary email or Email Tier 1-6 values include the primary phone or primary email of a lead you already received. Charging is narrower (it compares primary phone and primary email only), so a lead revealed only through a Total Phones or Email Tier value can still cost a credit on GET /leads or POST /leads/export.\n\nSet excludePurchased=true to drop leads you already received. They are removed after the page is selected, so a page can hold fewer than limit leads while pagination.total still counts them. Your export blacklist is applied. Response includes preview: true.",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/database"
          },
          {
            "$ref": "#/components/parameters/positiveKeywords"
          },
          {
            "$ref": "#/components/parameters/negativeKeywords"
          },
          {
            "$ref": "#/components/parameters/orColumns"
          },
          {
            "$ref": "#/components/parameters/stateInclude"
          },
          {
            "$ref": "#/components/parameters/stateExclude"
          },
          {
            "$ref": "#/components/parameters/cityInclude"
          },
          {
            "$ref": "#/components/parameters/cityExclude"
          },
          {
            "$ref": "#/components/parameters/zipInclude"
          },
          {
            "$ref": "#/components/parameters/zipExclude"
          },
          {
            "$ref": "#/components/parameters/nameIncludeTerms"
          },
          {
            "$ref": "#/components/parameters/nameExcludeTerms"
          },
          {
            "$ref": "#/components/parameters/sortBy"
          },
          {
            "$ref": "#/components/parameters/sortOrder"
          },
          {
            "$ref": "#/components/parameters/minReviewCount"
          },
          {
            "$ref": "#/components/parameters/maxReviewCount"
          },
          {
            "$ref": "#/components/parameters/descriptionEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/urlIncludeTerms"
          },
          {
            "$ref": "#/components/parameters/urlExcludeTerms"
          },
          {
            "$ref": "#/components/parameters/crawledUrlIncludeTerms"
          },
          {
            "$ref": "#/components/parameters/crawledUrlExcludeTerms"
          },
          {
            "$ref": "#/components/parameters/descriptionIncludeTerms"
          },
          {
            "$ref": "#/components/parameters/descriptionExcludeTerms"
          },
          {
            "$ref": "#/components/parameters/emailPrimaryInclude"
          },
          {
            "$ref": "#/components/parameters/emailPrimaryExclude"
          },
          {
            "$ref": "#/components/parameters/phonePrimaryInclude"
          },
          {
            "$ref": "#/components/parameters/phonePrimaryExclude"
          },
          {
            "$ref": "#/components/parameters/emailTier1Include"
          },
          {
            "$ref": "#/components/parameters/emailTier1Exclude"
          },
          {
            "$ref": "#/components/parameters/emailTier2Include"
          },
          {
            "$ref": "#/components/parameters/emailTier2Exclude"
          },
          {
            "$ref": "#/components/parameters/emailTier3Include"
          },
          {
            "$ref": "#/components/parameters/emailTier3Exclude"
          },
          {
            "$ref": "#/components/parameters/emailTier4Include"
          },
          {
            "$ref": "#/components/parameters/emailTier4Exclude"
          },
          {
            "$ref": "#/components/parameters/emailTier5Include"
          },
          {
            "$ref": "#/components/parameters/emailTier5Exclude"
          },
          {
            "$ref": "#/components/parameters/emailTier6Include"
          },
          {
            "$ref": "#/components/parameters/emailTier6Exclude"
          },
          {
            "$ref": "#/components/parameters/phoneTotalInclude"
          },
          {
            "$ref": "#/components/parameters/phoneTotalExclude"
          },
          {
            "$ref": "#/components/parameters/employeeCountEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/employeeCountInclude"
          },
          {
            "$ref": "#/components/parameters/employeeCountExclude"
          },
          {
            "$ref": "#/components/parameters/foundingDateEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/foundingDateInclude"
          },
          {
            "$ref": "#/components/parameters/foundingDateExclude"
          },
          {
            "$ref": "#/components/parameters/isChainEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/isChainInclude"
          },
          {
            "$ref": "#/components/parameters/isChainExclude"
          },
          {
            "$ref": "#/components/parameters/priceRangeEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/priceRangeInclude"
          },
          {
            "$ref": "#/components/parameters/priceRangeExclude"
          },
          {
            "$ref": "#/components/parameters/legalNameEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/legalNameInclude"
          },
          {
            "$ref": "#/components/parameters/legalNameExclude"
          },
          {
            "$ref": "#/components/parameters/industryNaicsEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/industryNaicsInclude"
          },
          {
            "$ref": "#/components/parameters/industryNaicsExclude"
          },
          {
            "$ref": "#/components/parameters/dunsEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/dunsInclude"
          },
          {
            "$ref": "#/components/parameters/dunsExclude"
          },
          {
            "$ref": "#/components/parameters/founderEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/founderInclude"
          },
          {
            "$ref": "#/components/parameters/founderExclude"
          },
          {
            "$ref": "#/components/parameters/founderEmailEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/founderEmailInclude"
          },
          {
            "$ref": "#/components/parameters/founderEmailExclude"
          },
          {
            "$ref": "#/components/parameters/founderPhoneEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/founderPhoneInclude"
          },
          {
            "$ref": "#/components/parameters/founderPhoneExclude"
          },
          {
            "$ref": "#/components/parameters/openingHoursEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/openingHoursInclude"
          },
          {
            "$ref": "#/components/parameters/openingHoursExclude"
          },
          {
            "$ref": "#/components/parameters/areaServedEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/areaServedInclude"
          },
          {
            "$ref": "#/components/parameters/areaServedExclude"
          },
          {
            "$ref": "#/components/parameters/offersEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/offersInclude"
          },
          {
            "$ref": "#/components/parameters/offersExclude"
          },
          {
            "$ref": "#/components/parameters/brandEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/brandInclude"
          },
          {
            "$ref": "#/components/parameters/brandExclude"
          },
          {
            "$ref": "#/components/parameters/sloganEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/sloganInclude"
          },
          {
            "$ref": "#/components/parameters/sloganExclude"
          },
          {
            "$ref": "#/components/parameters/logoUrlEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/logoUrlInclude"
          },
          {
            "$ref": "#/components/parameters/logoUrlExclude"
          },
          {
            "$ref": "#/components/parameters/socialProfilesEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/socialProfilesInclude"
          },
          {
            "$ref": "#/components/parameters/socialProfilesExclude"
          },
          {
            "$ref": "#/components/parameters/platformEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/platformInclude"
          },
          {
            "$ref": "#/components/parameters/platformExclude"
          },
          {
            "$ref": "#/components/parameters/bookingOpsCrmSoftwareEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/bookingOpsCrmSoftwareInclude"
          },
          {
            "$ref": "#/components/parameters/bookingOpsCrmSoftwareExclude"
          },
          {
            "$ref": "#/components/parameters/reputationChatSoftwareEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/reputationChatSoftwareInclude"
          },
          {
            "$ref": "#/components/parameters/reputationChatSoftwareExclude"
          },
          {
            "$ref": "#/components/parameters/marketingEmailSoftwareEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/marketingEmailSoftwareInclude"
          },
          {
            "$ref": "#/components/parameters/marketingEmailSoftwareExclude"
          },
          {
            "$ref": "#/components/parameters/adPixelsEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/adPixelsInclude"
          },
          {
            "$ref": "#/components/parameters/adPixelsExclude"
          },
          {
            "$ref": "#/components/parameters/paymentFinancingSoftwareEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/paymentFinancingSoftwareInclude"
          },
          {
            "$ref": "#/components/parameters/paymentFinancingSoftwareExclude"
          },
          {
            "$ref": "#/components/parameters/emailPrimaryMxValues"
          },
          {
            "$ref": "#/components/parameters/emailPrimaryMxEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/emailDomainMxValues"
          },
          {
            "$ref": "#/components/parameters/emailDomainMxEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/emailSecurityValues"
          },
          {
            "$ref": "#/components/parameters/emailSecurityEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/addressSourceValues"
          },
          {
            "$ref": "#/components/parameters/addressSourceEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/minNumLocations"
          },
          {
            "$ref": "#/components/parameters/maxNumLocations"
          },
          {
            "$ref": "#/components/parameters/minOpenPositions"
          },
          {
            "$ref": "#/components/parameters/maxOpenPositions"
          },
          {
            "$ref": "#/components/parameters/openPositionsEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/minRatingValue"
          },
          {
            "$ref": "#/components/parameters/maxRatingValue"
          },
          {
            "$ref": "#/components/parameters/redirectFilter"
          },
          {
            "$ref": "#/components/parameters/buyingSignalTypeFilter"
          },
          {
            "$ref": "#/components/parameters/updateReasonFilter"
          },
          {
            "$ref": "#/components/parameters/websiteSchemaFilter"
          },
          {
            "$ref": "#/components/parameters/lastBuyingSignalFrom"
          },
          {
            "$ref": "#/components/parameters/lastUpdatedFrom"
          },
          {
            "$ref": "#/components/parameters/lastBuyingSignalTo"
          },
          {
            "$ref": "#/components/parameters/lastUpdatedTo"
          },
          {
            "$ref": "#/components/parameters/timeScrapedFrom"
          },
          {
            "$ref": "#/components/parameters/timeScrapedTo"
          },
          {
            "$ref": "#/components/parameters/registrationDateFrom"
          },
          {
            "$ref": "#/components/parameters/registrationDateTo"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/streetInclude"
          },
          {
            "$ref": "#/components/parameters/streetExclude"
          },
          {
            "$ref": "#/components/parameters/streetEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/cityEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/stateEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/zipEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/phonePrimaryEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/phoneTotalEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/emailPrimaryEmptyFilter"
          },
          {
            "$ref": "#/components/parameters/emailTier1EmptyFilter"
          },
          {
            "$ref": "#/components/parameters/emailTier2EmptyFilter"
          },
          {
            "$ref": "#/components/parameters/emailTier3EmptyFilter"
          },
          {
            "$ref": "#/components/parameters/emailTier4EmptyFilter"
          },
          {
            "$ref": "#/components/parameters/emailTier5EmptyFilter"
          },
          {
            "$ref": "#/components/parameters/emailTier6EmptyFilter"
          },
          {
            "name": "excludePurchased",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "When true, omit leads you already received (by lead id or by a shared contact point, as described above) from the page. Default false."
          }
        ],
        "responses": {
          "200": {
            "description": "Preview leads with masked contact information",
            "headers": {
              "X-Lead-Query-Path": {
                "$ref": "#/components/headers/XLeadQueryPath"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "leads": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Lead"
                          },
                          "description": "Leads with masked contact fields (for example '(512) ***-**42' and 'hel*@domain.com'); leads you already received are unmasked and carry contactExported: true"
                        },
                        "pagination": {
                          "type": "object",
                          "properties": {
                            "page": {
                              "type": "integer"
                            },
                            "limit": {
                              "type": "integer"
                            },
                            "total": {
                              "type": "integer"
                            },
                            "pages": {
                              "type": "integer"
                            }
                          }
                        },
                        "databaseType": {
                          "type": "string",
                          "enum": [
                            "other"
                          ],
                          "description": "The lead database that served this request: always 'other' (the Main database)."
                        },
                        "preview": {
                          "type": "boolean",
                          "description": "Always true for preview responses",
                          "example": true
                        },
                        "requiresKeywords": {
                          "type": "boolean",
                          "description": "Present and true when no positive filter was sent; leads is then empty"
                        },
                        "message": {
                          "type": "string",
                          "description": "Present with requiresKeywords: explains which filters count as positive"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedOrLeadQueryBusy"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/leads/other/schema-types": {
      "get": {
        "tags": [
          "Leads"
        ],
        "operationId": "getSchemaTypes",
        "summary": "List available website schema types",
        "description": "Returns a sorted list of all distinct website schema types found in the Main lead database. Use these values with the websiteSchemaFilter parameter on GET /leads.",
        "responses": {
          "200": {
            "description": "Array of schema type strings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "example": [
                    "AutoDealer",
                    "Dentist",
                    "HomeAndConstructionBusiness",
                    "LegalService",
                    "LocalBusiness",
                    "MedicalBusiness",
                    "Organization",
                    "Restaurant"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/leads/export": {
      "post": {
        "tags": [
          "Leads"
        ],
        "operationId": "exportLeads",
        "summary": "Export leads to CSV/JSON/XLSX",
        "description": "Export leads matching your filters (or specific selectedIds) as CSV, JSON or XLSX files. The file type comes from the export format (formatId, or your default format). Up to 100,000 leads per filter export. Rate limited to 5 exports per minute, shared with the other export endpoints and the email schedule trigger.\n\nCredits (credit plans: Starter, Growth, Scale, Platinum, Enterprise): each new lead exported costs 1 credit. Charging is sticky: a lead you have already received through any channel (dashboard, API, MCP or email schedule) is never charged again, even if its data changed later, and a new lead that shares a primary phone or primary email with a lead you already received is also free. New leads are always ordered first, and they are cut to the smaller of maxCredits and your spendable balance (credit balance plus any overage-budget headroom); when the balance was the limit the response carries X-Credits-Capped: true. Omitting maxCredits therefore caps the request at your spendable balance instead of failing. 402 insufficient_credits only happens if a concurrent request spends the balance between the check and the charge.\n\nFile bodies: with inline true (the default) each file's data field holds the whole file, as plain UTF-8 text for csv and json files and as base64 for xlsx files. Set inline=false to receive download links instead, which is recommended for large exports. Every file is also kept in export history for 90 days.\n\nXLSX is limited to 20,000 rows per file. Any xlsx export that would put more than 20,000 rows in one file returns 400 export_too_large: a single-file export, the largest part of a split format (maxRowsPerFile above 20,000 or not set, or equal_parts / parts_max_rows parts that come out larger), or the includeTotal file, which holds every row. That check runs after the leads are charged and recorded as received. Do not simply repeat the request: an export picks new leads first, so a repeat can charge for different leads. Re-run it with maxCredits 0 (and without excludePurchased) using a csv export format or an xlsx format with splitFiles true, splitMode max_rows, maxRowsPerFile of 20,000 or less and includeTotal false, which returns the leads you already have at no cost, or re-export them with POST /lead-export-history/re-export.\n\nDefault-format files name the buying-signal columns Last Buying Signal and Buying Signal Type (CSV/XLSX headers and JSON keys); they no longer have Last Updated / Update Reason columns. To keep the old header names, pass a formatId whose fieldMappings map lastUpdated and lastUpdatedReason to the names you need.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "database": {
                    "type": "string",
                    "enum": [
                      "other"
                    ],
                    "default": "other",
                    "description": "Lead database. Only 'other' (the Main database) is available. Kept for backward compatibility: legacy values are still accepted and resolve to the Main database."
                  },
                  "filters": {
                    "type": "object",
                    "description": "Same filter parameters as GET /leads (positiveKeywords, negativeKeywords, stateInclude, buyingSignalTypeFilter, lastBuyingSignalFrom, lastBuyingSignalTo, etc.). buyingSignalTypeFilter accepts a JSON array or a comma-separated string. The older names updateReasonFilter, lastUpdatedFrom and lastUpdatedTo are still accepted (ignored when the new name is also sent)."
                  },
                  "selectedIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "Specific lead IDs to export (alternative to filters)"
                  },
                  "formatId": {
                    "type": "integer",
                    "description": "Export format template ID. Uses default format if not specified."
                  },
[...]
